@{
    Page.Title = "Sandbox - A Place to Play";
    Layout = "~/_Layout.cshtml";
}

@section pagefooter{
    <p>This is a place to put all sorts of test Razor code.</p>
    <p>
        A web page that sends infortmation to a web server needs to have all of it's user input controls inside of a &lt;form&gt; tag. A form tag can send the information back as either GET or POST
    request to the web browser.</p>
}


